body{
font-family: Arial;
margin:0;
background:#f5f7fa;
}

header{
background:#0c2d57;
color:white;
padding:40px;
text-align:center;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

h2{
color:#0c2d57;
}

footer{
text-align:center;
padding:20px;
background:#eee;
}
